<!DOCTYPE html>
<html>
<head>
<title>Automatisch gegenereerde sonnetten</title>
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link rel="stylesheet" type="text/css" href="/static/css/1621510514.css" />
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <h1>Sonnetten</h1>
        </div>
        <div id="navigation">
            <ul>
            <li><a href="/">Start</a></li>
            <li><a href="/random">Generator</a></li>
            <li><a href="/zelf">Zelf maken</a></li>
            <li><a href="/over">Over</a></li>
            </ul>
        </div>
        <div id="content">
            <br/>
{% block content %}
{% endblock %}
       </div>
        <div id="footer">
            <p style="line-height: 40px; padding:0px; padding-left: 15px;">Emiel van Miltenburg - Tilburg University, 2021</p>
        </div>
    </div>
</body>
</html>
